POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=jobs
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=4df00f14126d40d036eef0ebdcbf9817075b3f4199623ba4d6230deb560ecf1f

MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password
MINIO_ACCESS_KEY=key
MINIO_SECRET_KEY=key
MEDIA_URL=http://localhost:9000